{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Tickets{% endblock %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/ticket/index.css' %}">
{% endblock %}

{% block content %}
    <h1>Tickets</h1>

    <ul class="ticket-list">
        {% for ticket in tickets %}
            <li>
                <a class="card" href="{% url 'ticket:view' ticket.id %}">
                    <div>
                        <span class="status-badge {{ ticket.get_status }}">{{ ticket.get_status }}</span>
                        <span class="boat-label">{{ ticket.boat }}</span>
                        <span class="card-route">{{ ticket.origin }} - {{ ticket.destination }}</span>
                        <span class="card-date">{{ ticket.date }}</span>
                    </div>
                    
                    <div>
                        <span class="card-client">{{ ticket.name_client }}</span>
                        <span class="card-value price-label">R$  {{ ticket.value }}</span>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}