{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Tickets{% endblock %}

{% block content %}
    <h1>Tickets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Passageiro</th>
                <th>Rota</th>
                <th>Embarcação</th>
                <th>Valor</th>
                <th>Status</th>
                <th>Ação</th>
            </tr>
        </thead>

        <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.date }}</td>
                    <td>{{ ticket.name_client }}</td>
                    <td>{{ ticket.origin }} - {{ ticket.destination }}</td>
                    <td>{{ ticket.boat }}</td>
                    <td>{{ ticket.value }}</td>
                    <td>{{ ticket.status }}</td>
                    <td>
                        <a href="{{ url 'ticket:view' ticket.id }}">
                            <button class="button" type="submit">Ver</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}