{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Visualizar Ticket{% endblock %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/ticket/view.css' %}">
{% endblock %}

{% block content %}
    {% include './partials/_ticket-info.html' %}

    <div class="group">
        <label>Nome do passageiro</label>
        <input type="text" value="{{ ticket.name_client }}" disabled>
    </div>


    <div class="grid col-2">
        <div class="group">
            {% if ticket.document_type == 'rg' %}
                <label>RG</label>
            {% else %}
                <label>CPF</label>
            {% endif %}

            <input type="text" value="{{ ticket.docuemnt_client }}" disabled>
        </div>
        
        <div class="group">
            <label>Data de Nascimento</label>
            <input type="date" value="{{ ticket.birth_date_client|date:'Y-m-d' }}" disabled>
        </div>
        
    </div>

    {% if ticket.status == 1 %}
        <div class="ticket-validation">
            <h2>Validar ticket</h2>
            
            {% if ticket.is_upload %}
                {% include './partials/_ticket-file-form.html' %}
            {% else %}
                {% include './partials/_ticket-status-form.html' %}
            {% endif %}
        </div>
    {% endif %}
    
    {% if ticket.is_upload and ticket.get_document_url %}
            <a href="{{ ticket.get_document_url }}" target="_blank" class="button">Abrir bilhete</a>
    {% endif %}

    {% if not ticket.is_upload and ticket.status == 2 %}
        <a href="{% url 'ticket:print' ticket.id %}" target="_blank" class="button">Abrir voucher</a>
    {% endif %}
{% endblock %}