{% load static %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/ticket/partials/_ticket-file-form.css' %}">
{% endblock %}

<form class="file-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="group">
        <input 
            accept="image/*"
            id="id_document"
            name="document"
            type="file"
        />

        <label for="id_document">Anexar bilhete</label>
    </div>

    <button class="button" type="submit">Enviar</button>
</form>