<div class="flex">
    <p class="boat-label">{{ routeweek.boat }}</p>
    <p class="price-label">R$ {{ routeweek.route.value }}</p>
</div>

<table class="table">
    <tbody>
        <tr>
            <th>Origem</th>
            <th>Chegada</th>
        </tr>

        <tr>
            <td>{{ routeweek.route.origin }}</td>
            <td>{{ routeweek.route.destination }}</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <tbody>
        <tr>
            <th>Data</th>
            <th>Saída</th>
            <th>Chegada</th>
        </tr>

        <tr>
            <td>{{ ticket.date }}</td>
            <td>{{ routeweek.get_departure_time }}</td>
            <td>{{ routeweek.get_arrival_time }} {% if routeweek.after_midnight %}+1{% endif %}</td>
        </tr>
    </tbody>
</table>

<h2>Dados do passageiro</h2>

<div class="group">
    <label>Nome</label>
    <input type="text" name="client" value="{{ ticket.name_client }}" readonly>
</div>

<div class="grid col-2">
    <div class="group">
        <label>CPF</label>
        <input type="text" name="document" value="{{ ticket.docuemnt_client }}" readonly>
    </div>

    <div class="group">
        <label>Data de nascimento</label>
        <input type="text" name="birth-date" value="{{ ticket.birth_date_client }}" readonly>
    </div>
</div>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Arquivo</label>
    <div class="group">
        {{ form }}
    </div>

    <button class="button" type="submit">Salvar</button>
</form>

{% if ticket.document %}
    <a href="{{ ticket.get_document_url }}" target="_blank" class="button">Abrir ticket</a>
{% else %}
    <button class="button" onclick="window.print()">Gerar ticket</button>
{% endif %}
