{% load static %}

{% include './_ticket-info.html' %}

<div class="group">
    <label>Nome</label>
    <input type="text" value="{{ ticket.name_client }}" disabled>
</div>

<div class="group">
    <label>Nome</label>
    <input type="text" name="client" value="{{ ticket.name_client }}" readonly>
</div>

<div class="grid col-2">
    <div class="group">
        <label>CPF</label>

        <input type="text" value="{{ ticket.docuemnt_client }}" disabled>
    </div>
    
    <div class="group">
        <label>Data de Nascimento</label>
        <input type="date" value="{{ ticket.birth_date_client|date:'Y-m-d' }}" disabled>
      </div>
 
      <div class="group">
        <input type="text" name="document" value="{{ ticket.docuemnt_client }}" readonly>
      </div>
  
    <div class="group">
        <label>Data de nascimento</label>
        <input type="text" name="birth-date" value="{{ ticket.birth_date_client }}" readonly>
    </div>
</div>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Arquivo</label>
    <div class="group">
        {{ form }}
    </div>

    <button class="button" type="submit">Salvar</button>
</form>

{% if ticket.document %}
    <a href="{{ ticket.get_document_url }}" target="_blank" class="button">Abrir ticket</a>
{% else %}
    <button class="button" onclick="window.print()">Gerar ticket</button>
{% endif %}
