{% load static %}

{% include './_ticket-info.html' %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/ticket/partials/_ticket-form.css' %}">
{% endblock %}

{% if choose_type %}
    <form>
        <div class="group">
            <label>Tipo de passagem</label>

            <div class="radio-control">
                <input type="radio" name="tipo" id="ticket-type-passenger" value="passageiro" checked>
                <label for="ticket-type-passenger">Passageiro</label>
                
                <input type="radio" name="tipo" id="ticket-type-cargo" value="carga">
                <label for="ticket-type-cargo">Carga</label>
            </div>
        </div>

        <button class="button">Iniciar solicitação</button>
    </form>
{% else %}
    <form method="POST" class="ticket-form">
        {% csrf_token %}

        <div class="group">
            <label>Tipo de passagem</label>

            <div class="radio-control">
                <input 
                    disabled
                    id="ticket-type-passenger" 
                    name="ticket_type" 
                    type="radio" 
                    value="passenger"

                    {% if ticket_type == 'passageiro' %}
                        checked
                    {% endif %}
                >

                <label for="ticket-type-passenger">Passageiro</label>
                
                <input 
                    disabled
                    id="ticket-type-cargo" 
                    name="ticket_type" 
                    type="radio" 
                    value="cargo"

                    {% if ticket_type == 'carga' %}
                        checked
                    {% endif %}
                >

                <label for="ticket-type-cargo">Carga</label>
            </div>
        </div>

        {% if ticket_type == 'passageiro' %}
            {% include './_ticket-form-passenger.html' %}
        {% else %}
            {% include './_ticket-form-cargo.html' %}
        {% endif %}

        <!-- <div class="radio-control">
            <input type="checkbox" name="markdown" id="markdown-check">
            <label for="markdown-check">Remarcação</label>
        </div> -->

        <button class="button" type="submit">Enviar solicitação</button>
    </form>
{% endif %}