{% load static %}

<link rel="stylesheet" href="{% static 'css/templates/ticket/partials/_ticket-info.css' %}">

<div class="ticket-info">
    <div>
        {% if ticket.status %}
            <span class="status-badge {{ ticket.get_status_class }}">{{ ticket.get_status }}</span>
        {% endif %}

        <div class="route">
            <span>{{ routeweek.route.origin }}</span>

            <img src="{% static 'icons/arrow_right_alt.svg' %}" alt="Origem para destino">

            <span>{{ routeweek.route.destination }}</span>
        </div>

        {% if ticket.markdown %}
            <span>Remarcação</span>
        {% endif %}

        <div class="date">
            <span>{{ ticket.date }}{{ date }}</span>
            <span>{{ routeweek.get_departure_time }} - {{ routeweek.get_arrival_time }}</span>
        </div>

        <span class="boat-label">{{ routeweek.boat }}</span>
    </div>

    <!-- <span class="price-badge">
        {% if ticket %}
            R$ {{ ticket.value }}
        {% else %}
            {% if utils.discount %}
                R$ {{ routeweek.route.discounted_value }}
            {% else %}
                R$ {{ routeweek.route.value }}
            {% endif %}
        {% endif %}
    </span> -->

    <div class="group">
        <span class="price-label">R$ {{ routeweek.route.get_value }}</span>
        <span class="cost-label">R$ -{{ routeweek.route.get_cost }}</span>
    </div>
</div>