{% load static %}

<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="icon" conten>

        <title>Navegar • {% block titulo %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'css/global/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/global/typography.css' %}">
        <link rel="stylesheet" href="{% static 'css/global/colors.css' %}">
        <link rel="stylesheet" href="{% static 'css/global/layout.css' %}">

        <link rel="stylesheet" href="{% static 'css/componentes/button.css' %}">
        <link rel="stylesheet" href="{% static 'css/componentes/form.css' %}">
        <link rel="stylesheet" href="{% static 'css/componentes/input.css' %}">

        <link rel="stylesheet" href="{% static 'css/templates/user/auth.css' %}">
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>