{% load static %}

<!-- PASSAR O IDENTIICADOR DO USUÁRIO NO ATRIBUTO DATA-MODAL -->

<dialog class="modal" data-modal="{{ user.id }}">
    <div class="content">
        <form method="POST">
            {% csrf_token %}
            <input style="display:none;" type="text" name="user_id" id="input_user" value="{{ user.id }}">
            
            <div class="group">
                <label for="name-field-{{ user.id }}">Nome</label>
                <input type="text" name="name" id="name-field-{{ user.id }}" value="{{ user.full_name|default:"" }}">
            </div>
            
            <div class="group">
                <label for="password-field-{{ user.id }}">Senha</label>
                <input type="text" name="password" id="password-field-{{ user.id }}">
            </div>

            <div class="group">
                <label>Perfil</label>
                
                <div>
                    {% for type in all_types %}
                        <input id="tipo-{{ type.0 }}-{{ user.id }}" type="radio" {% if type.0 == user.type %}checked{% endif %} name="type" value="{{ type.0 }}">
                        <label for="tipo-{{ type.0 }}-{{ user.id }}">{{ type.1 }}</label>
                    {% endfor %}
                </div>
            </div>

            <div class="group">
                <label>Status</label>
                
                <div>
                    {% for status in all_status %}
                        <input id="status-{{ status }}-{{ user.id }}" type="radio" {% if status == user.status %}checked{% endif %} name="status" value="{{ status }}">
                        <label for="status-{{ status }}-{{ user.id }}">{{ status }}</label>
                    {% endfor %}
                </div>
            </div>

            <button class="button">Salvar</button>
        </form>
    </div>
</dialog>

<!-- FAZER UM FOR PARA RENDERIZAR OS MODAIS -->