{% load static %}

<!-- PASSAR O IDENTIICADOR DO USUÁRIO NO ATRIBUTO DATA-MODAL -->
<dialog class="modal" data-modal="{{ user.id }}">
    <div class="content">
        <form action="">
            <div class="group">
                <label for="">Nome</label>
                <input type="text" name="" id="" value="{{ user.full_name|default:"" }}">
            </div>

            <div class="group">
                <label for="">Perfil</label>
                
                <div>
                    {% for type in all_types %}
                        <input id="tipo-{{ type.0 }}" type="radio" {% if type.0 == user.type %}checked{% endif %} name="type" value="{{ type.0 }}">
                        <label for="tipo-{{ type.0 }}">{{ type.1 }}</label>
                    {% endfor %}
                </div>
            </div>

            <div class="group">
                <label for="">Status</label>
                
                <div>
                    {% for status in all_status %}
                        <input id="status-{{ status }}" type="radio" {% if status == user.status %}checked{% endif %} name="status" value="{{ status }}">
                        <label for="status-{{ status }}">{{ status }}</label>
                    {% endfor %}
                </div>
            </div>

            <button class="button">Salvar</button>
        </form>
    </div>
</dialog>

<!-- FAZER UM FOR PARA RENDERIZAR OS MODAIS -->