<h1 class="title">Login</h1>

<form action="">
    <div class="group">
        <label for="">E-mail</label>
        <input type="text">
    </div>

    <div class="group">
        <label for="">Senha</label>
        <input type="text">
    </div>

    <a href="#">Esqueci minha senha</a>

    <div class="button-container">
        <button class="button">Entrar</button>

        <a href="{% url 'user:signup' %}">
        <button class="button secondary" type="button">Criar conta</button>
        </a>
    </div>
</form>