<h1 class="title">Login</h1>

<form method="POST">
    {% csrf_token %}
    {% for f in form %}
        <div class="group">
            <label for="">{{ f.label }}</label>
            {{ f }}
        </div>
    {% endfor %}

    <a href="#">Esqueci minha senha</a>

    <div class="button-container">
        <a href="{% url 'user:signup' %}">
            <button class="button secondary" type="button">Criar conta</button>
        </a>

        <button type="submit" class="button">Entrar</button>
    </div>
</form>