.header-acao{
    text-align: center;
}

.col-acao{
    text-align: center;
    
    & .acao{
        aspect-ratio: 1;
        background-size: cover;
        cursor: pointer;
        display: block;
        width: 1.25rem;
    
        &.editar{
            background-image: url('../../../icons/edit.svg');
        }

        &.excluir{
            background-image: url('../../../icons/delete.svg');
        }
    }
}
