:root{
    --clr-background: #FFF;
    --clr-border: hsl(0, 0%, 80%);

    --clr-primary: hsl(214, 82%, 51%);
    --clr-primary-dark: hsl(214, 82%, 31%);
    --clr-primary-light: hsl(214, 82%, 95%);
}