:root{
    --shadow: 0px 0px 8px 0px hsla(214, 82%, 51%, 15%);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    max-width: 1024px;
    padding-block: 2rem;
}

.flex{
    display: flex;
    gap: 1rem;
}

.grid{
    display: grid;
    gap: 1rem;

    &.col-2{
        grid-template-columns: repeat(2, 1fr);
    }
}

hr{
    background-color: var(--clr-border);
    border: none;
    height: 1px;
	width: 100%;
}

/* RESPONSIVE */

@media screen and (width <= calc(1024px + 4rem)) {
    .container{
        padding-inline: 2rem;
    }    
}

@media screen and (width <= 500px) {
    .container{
        padding-inline: 1rem;
    }

    .grid{
        &.col-2{
            grid-template-columns: 1fr;
        }
    }
}