{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Solicitação de ticket{% endblock %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/ticket/add.css' %}">
{% endblock %}

{% block content %}
    <h1>Solicitação de ticket</h1>

    <div class="flex">
        <p class="boat-label">{{ routeweek.boat }}</p>
        <p class="price-label">R$ {{ routeweek.route.value }}</p>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Origem</th>
                <th>Chegada</th>
            </tr>

            <tr>
                <td>{{ routeweek.route.origin }}</td>
                <td>{{ routeweek.route.destination }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <tbody>
            <tr>
                <th>Data</th>
                <th>Saída</th>
                <th>Chegada</th>
            </tr>

            <tr>
                <td>{{ date }}</td>
                <td>{{ routeweek.get_departure_time }}</td>
                <td>{{ routeweek.get_arrival_time }} {% if routeweek.after_midnight %}+1{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <h2>Dados do passageiro</h2>

    <form method="POST" action="{% url 'ticket:create_ticket' routeweek.id date %}" class="ticket-form">
        {% csrf_token %}
        <!-- DETALHES DA ROTA READONLY -->
        <!-- <div class="group">
            <label>Embarcação</label>
            <input type="text" value="Cidade Manaquiri" disabled>
        </div> -->

        <!-- <div class="group">
            <label>Origem</label>
            <input type="text" value="Manaus" disabled>
        </div>

        <div class="group">
            <label>Destino</label>
            <input type="text" value="Tabatinga" disabled>
        </div>

        <div class="group">
            <label>Data</label>
            <input type="date" value="2024-03-30" disabled>
        </div>

        <div class="group">
            <label>Saída</label>
            <input type="time" value="10:35" disabled>
        </div>
        </div>

        <div class="group">
            <label>Chegada</label>
            <input type="time" value="17:10" disabled>
        </div>

        <div class="group">
            <label>Total</label>
            <input type="text" value="R$ 310,00" disabled>
        </div> -->


        <!-- DADOS DO PASSAGEIRO -->

        
        <div class="grid col-2">
            <div class="group">
                <label>Nome</label>
                <input type="text" name="client">
            </div>
            
            <div class="group">
                <label>CPF</label>
                <input type="text" name="document">
            </div>
        </div>

        <button class="button" type="submit">Enviar Solicitação</button>
    </form>
{% endblock %}