{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Solicitação de ticket{% endblock %}

{% block content %}
    <h1>Solicitação de ticket</h1>

    <form action="">
        <!-- DETALHES DA ROTA READONLY -->

        <!-- DADOS DO PASSAGEIRO -->

        <div class="group">
            <label for="">Nome</label>
            <input type="text">
        </div>

        <div class="group">
            <label for="">CPF</label>
            <input type="text">
        </div>

        <button class="button">Enviar Solicitação</button>
    </form>
{% endblock %}