{% load static %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/route/partials/_route-form.css' %}">
{% endblock %}

{% for boat in boats %}
    <input type="hidden" value="{{ boat.name }}" data-boat="{{ boat.id }}" disabled>
{% endfor %}

{% for weekday in WEEKDAYS %}
    <input type="hidden" value="{{ weekday.1 }}" data-weekday="{{ weekday.0 }}">
{% endfor %}

<form method="post" id="route_form">
    {% csrf_token %}

    <div class="grid col-2">
        {% for r in route_form %}
            <div class="group">
                {{ r.label_tag }}
                {{ r }}
            </div>
        {% endfor %}
    </div>

    <div class="group">
        <div class="flex justify-content-between">
            <h2>Embarcações</h2>
            <button class="action add lg" type="button" data-add-selection-button></button>
        </div>
        
        <hr>
    </div>

    {% for boat in route_boats %}
        <div class="boat-selection">
            <div class="flex justify-content-between">
                <div class="radio-control">
                    {% for weekday in WEEKDAYS %}
                        <input 
                            id="boat-{{ boat.boat }}-weekday-{{ forloop.counter }}"
                            name="boat-{{ boat.boat }}-weekday-{{ forloop.counter }}" 
                            type="checkbox" 
                            value="{{ weekday.0 }}"
    
                            {% if weekday.0 in boat.weekdays %}
                                checked
                            {% endif %}
                        />
    
                        <label for="boat-{{ boat.boat }}-weekday-{{ forloop.counter }}">{{ weekday.1 }}</label>
                    {% endfor %}
                </div>
    
                <button class="action delete lg" title="Remover embarcação" type="button" data-remove-selection></button>
            </div>

            <select name="boat-{{ boat.boat }}" id="boat-{{ boat.boat }}">
                {% for opt_boat in boats %}
                    <option 
                        {% if opt_boat.id == boat.boat %}
                            selected
                        {% endif %}

                        value="{{ opt_boat.id }}"
                    >
                        {{ opt_boat }}
                    </option>
                {% endfor %}
            </select>
        </div>
    {% endfor %}

    <div class="button-container">
        <button class="button" type="submit">Salvar</button>
    </div>
</form>

<script src="{% static 'js/templates/route/partials/_route-form.js' %}"></script>