{% load static %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/route/partials/_route-form.css' %}">
{% endblock %}

<form method="post" id="route_form">
    {% csrf_token %}

    <div class="grid col-2">
        {% for r in route_form %}
            <div class="group">
                {{ r.label_tag }}
                {{ r }}
            </div>
        {% endfor %}
    </div>

    <div id="formset-container" data-formset-container>
        {{ formset.management_form }}

        {% for form in formset.forms %}
            <div class="route-weekday-form" data-weekday-form>
                {% for f in form %}
                    <div class="group">
                        {{ f.label_tag }}
                        {{ f }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="button-container">
        <button class="button secondary" type="button" id="add-route-weekday" data-add-form-button>Adicionar dia da semana</button>
        <button class="button" type="submit">Salvar</button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/templates/route/form.js' %}"></script>