

input:is(
    [type="date"], 
    [type="email"], 
    [type="password"], 
    [type="text"]
){
    border: 1px solid var(--clr-border);
    border-radius: .25rem;
    box-sizing: border-box;
    font-size: 1rem;
    padding: .75rem;
    width: 100%;
}