{% extends './partials/_base.html' %}

{% load static %}

{% block title %} 
    {% if auth == 'login' %}
        Login
    {% elif auth == 'signup' %}
        Cadastro
    {% endif %}
{% endblock %}

{% block content %}
  <main class="auth-layout">
    <div class="auth-container">
      <img class="logo" src="{% static '/images/logo.svg' %}" alt="">
      
      {% if auth == 'login' %}
        {% include './partials/_login.html' %}
      {% elif auth == 'signup' %}
        {% include './partials/_cadastro.html' %}
      {% elif auth == 'edit' %}
        {% include './partials/_edit.html' %}
      {% endif %}
    </div>
  </main>
{% endblock %}
