{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Usuários{% endblock %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/user/index.css' %}">
{% endblock %}

{% block content %}
    
    <h1>Usuários</h1>

    <table class="table">
        <thead>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Perfil</th>
            <th>Status</th>
            <th class="header-acao">Ações</th>
        </thead>

        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.full_name|default:"" }}</td>
                    <td>{{ user.email|default:"" }}</td>
                    <td>{{ user.profile }}</td>
                    
                    <td>
                        <span class="status {{ user.status }}">{{ user.status }}</span>
                    </td>
                    
                    <td class="col-acao">
                        <span 
                            class="acao editar" 
                            title="Editar"
                        ></span>
                        <!-- <span 
                            class="acao excluir"
                            title="Excluir"
                        ></span> -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include './partials/_edit-user-modal.html' with id="edit-user" %}
{% endblock %}