{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Usuários{% endblock %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/user/index.css' %}">
{% endblock %}

{% block content %}
    <h1>Usuários</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Status</th>
                <th>Perfil</th>
                <th>Telefone</th>
                <th>E-mail</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <a class="link" href="{% url 'user:view' user.id %}">{{ user.full_name }}</a>
                    </td>

                    <td>
                        <span class="status-badge {{ user.status }}">{{ user.status }}</span>
                    </td>

                    <td>
                        {{ user.profile }}

                        {% if user.type == 'F' %}
                            {% if user.upload_ticket %}
                                - Bilhete
                            {% else %}
                                - Voucher
                            {% endif %}
                        {% endif %}
                    </td>

                    <td>{{ user.phone|default:'' }}</td>
                    <td>{{ user.email }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}