{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Usuários{% endblock %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/user/index.css' %}">
{% endblock %}

{% block content %}
    <h1>Usuários</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Perfil</th>
                <th class="header-status">Status</th>
                <th class="header-acao">Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.full_name|default:"N/A" }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.profile }}</td>

                    <td>
                        <span class="status {{ user.status }}" title="{{ user.status }}"></span>
                    </td>

                    <td class="col-acao">
                        <span 
                            class="acao editar"
                            data-modal-open="{{ user.id }}" 
                            title="Editar"
                        ></span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for user in users %}
        {% include './partials/_edit-user-modals.html' %}
    {% endfor %}
{% endblock %}