{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Controle de rotas{% endblock %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/route/add-route.css' %}">
{% endblock %}


{% block content %}
    <style>
        #formset-container{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & .group{
                flex-grow: 1;
            }
        }

        .route-weekday-form {
            display: flex;
            gap: .5rem;

            & > :last-child{
                display: none;
            }
        }
    </style>

    <h1>Controle de rotas</h1>

    <form method="post" id="route_form">
        {% csrf_token %}

        <div class="grid col-2">

            {% for r in route_form %}
                <div class="group">
                    {{ r.label_tag }}
                    {{ r }}
                </div>
            {% endfor %}
        </div>
    
        <div id="formset-container" data-formset-container>
            {{ formset.management_form }}

            {% for form in formset.forms %}
                <div class="route-weekday-form" data-weekday-form>
                    {% for f in form %}
                        <div class="group">
                            {{ f.label_tag }}
                            {{ f }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="button-container">
            <button class="button secondary" type="button" id="add-route-weekday" data-add-form-button>Adicionar dia da semana</button>
            <button class="button" type="submit">Salvar</button>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/templates/route/form.js' %}"></script>
{% endblock %}