{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Controle de rotas{% endblock %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/route/index.css' %}">
{% endblock %}

{% block content %}
    <h1>Rotas</h1>

    <a href="{% url 'route:add-route' %}">
        <button class="button">Adicionar rota</button>
    </a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Rota</th>
                <th>Horário</th>
                <th>Valor</th>
                <th>Custo</th>
            </tr>
        </thead>

        <tbody>
            {% for route in routes %}
                <tr>
                    <td>
                        <a class="link" href="{% url 'route:edit-route' route.id %}">{{ route }}</a>
                    </td>

                    <td>{{ route.departure_time }} - {{ route.arrival_time }} {% if route.after_midnight %} (Dia seguinte) {% endif %}</td>

                    <td class="price-label">{{ route.value }}</td>

                    <td class="cost-label">{{ route.cost }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}