{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/route/index.css' %}">
{% endblock %}

{% block content %}
    <h1>Rotas</h1>

    <form method="POST" class="row">
        {% csrf_token %}
        <select 
            id="origin"
            name="origin" 
            required
        >   
            <option value="" disabled selected>Origem</option>

            {% for origin in locations %}
                <option value="{{ origin.id }}">{{ origin }}</option>
            {% endfor %}
        </select>

        <select 
            id="destination"
            name="destination" 
            required
        >
            <option value="" disabled selected>Destino</option>
            
            {% for destination in locations %}
                <option value="{{ destination.id }}">{{ destination }}</option>
            {% endfor %}
        </select>

        <input 
            id="date" 
            name="date" 
            type="date"
            min="{{ today|date:'Y-m-d' }}"
            required
        />

        <button class="button search" type="submit">Pesquisar</button>
    </form>

    {% if pagina_erro %}
        <div class="alert alert-danger" role="alert">
            <h1>Não foi encontrado nenhum voo</h1>
        </div>
    {% endif %}
    
    {% if routes_list %}
        <h2>Resultado</h2>

        <table class="table routes-table">
            <tbody>
                {% for route in routes_list %}
                    <tr data-link="{% url 'ticket:add' route.id date %}">
                        <td class="col-day">
                            <span>{{ date|date:"d" }}</span>
                            <span>{{ date|date:"F" }}</span>
                        </td>

                        <td class="col-boat">
                            <span>{{ route.boat }}</span>
                        </td>

                        <td class="col-time">
                            <span>{{ route.get_departure_time }} - {{ route.get_arrival_time }} {% if route.after_midnight %}+1{% endif %}</span>
                            <span>{{ route.get_total_trip_time }} horas</span>
                        </td>

                        <td>{{ route.route }}</td>

                        <td class="col-price">R$ {{ route.route.value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif routes_today %}
        <div class="alert alert-info" role="alert">
            <h1>Rotas para hoje</h1>
            {% for route in routes_today %}
                <p>{{ route }}</p>
            {% endfor %}
        </div>
    {% endif %}
    

    {% comment %}
        <h2>Ultimas rotas</h2>

        <table class="table">
            <thead>
                <th>Data</th>
                <th>Origem</th>
                <th>Destino</th>
                <th>Embarcação</th>
            </thead>

            <tbody>
                {% for routes in routes_list %}
                    <tr>
                        <td colspan="2">Rota</td>
                        <td colspan="2">
                            <a href="" target="_blank" rel="noopener noreferrer">Selecionar Rota</a>
                        </td>
                    </tr>
                    {% for route in routes %}
                        <tr>
                            <td>{{ date }}</td>
                            <td>{{ route.origin }}</td>
                            <td>{{ route.destination }}</td>
                            <td>{{ route.boat }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% endcomment %}
{% endblock %}