{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Controle de locais{% endblock %}

{% block content %}
    <h1>Controle de locais</h1>

    <form method="POST" class="row">
        {% csrf_token %}

        <input type="text" name="name" maxlength="100" placeholder="Nome do local" required id="id_name">

        <button type="submit" class="button">Salvar</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ação</th>
            </tr>
        </thead>

        <tbody>
            {% for location in locations %}
                <tr>
                    <td>{{ location }}</td>

                    <td>
                        <span 
                            class="action edit"
                            data-modal-open="{{ location.id }}"
                            title="Editar"
                        ></span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for location in locations %}
        {% include './partials/_edit-location-modal.html' %}
    {% endfor %}
{% endblock %}