{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Controle de embarcações{% endblock %}

{% block content %}
    <h1>Controle de embarcações</h1>

    <form method="POST" action="">
        {% csrf_token %}

        <div class="group">
            <label>Nome</label>
            <input type="text" required>
        </div>

        <div class="group">
            <label>Fornecedor</label>

            <select name="" id="" required>
            </select>
        </div>

        <button class="button">Salvar</button>
    </form>
{% endblock %}