{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Controle de rotas{% endblock %}

{% block css_template %}
    <link rel="stylesheet" href="{% static 'css/templates/route/manage-routes.css' %}">
{% endblock %}

{% block content %}
    <h1>Rotas</h1>

    <div class="flex justify-content-between">
        <a href="{% url 'route:add-route' %}">
            <button class="button">Adicionar rota</button>
        </a>

        <form method="post">
            {% csrf_token %}

            {% if discount %}
                <button class="button" type="submit" name="discount" value="deactivate">Desativar desconto</button>
            {% else %}
                <button class="button secondary" type="submit" name="discount" value="activate">Ativar desconto</button>
            {% endif %}
        </form>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>Rota</th>
                <th>Horário</th>
                <th>Valor</th>
                <th>Valor exibido</th>
                <th>Ação</th>
            </tr>
        </thead>

        <tbody>
            {% for route in routes %}
                <tr>
                    <td>{{ route }}</td>

                    <td>{{ route.departure_time }} - {{ route.arrival_time }} {% if route.after_midnight %} (Dia seguinte) {% endif %}</td>

                    <td class="price-label">{{ route.value }}</td>
                    
                    <td>
                        {% if discount %}
                            <span class="price-badge">{{ route.discounted_value }}</span>
                        {% else %}
                            <span class="price-badge">{{ route.value }}</span>
                        {% endif %}
                    </td>
                    <td class="col-acao">
                        <a href="{% url 'route:add-route' route.id %}">
                            <span 
                                class="acao editar"
                                title="Editar"
                            ></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}