{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Controle de locais{% endblock %}

{% block content %}
    <h1>Controle de locais</h1>

    <form method="POST" class="row">
        {% csrf_token %}

        {{ form.name }}

        <button type="submit" class="button">Salvar</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>

        <tbody>
            {% for local in locations %}
                <tr>
                    <td>{{ local }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}