{% extends "../partials/_base.html" %}

{% load static %}

{% block title %}Controle de rotas{% endblock %}


{% block content %}
    <h1>Rotas</h1>

    <a href="{% url 'route:add-route' %}">
        <button class="button">Adicionar rota</button>
    </a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ação</th>
            </tr>
        </thead>

        <tbody>
            {% for route in routes %}
                <tr>
                    <td>{{ route }}</td>
                    
                    <td>
                        <a href="{% url 'route:add-route' route.id %}">
                            <button class="button">Editar</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}