{% load static %}

<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="icon" conten>

        <title>Navegar • {% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'css/global/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/global/typography.css' %}">
        <link rel="stylesheet" href="{% static 'css/global/colors.css' %}">
        <link rel="stylesheet" href="{% static 'css/global/layout.css' %}">

        <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/input.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/modal.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/table.css' %}">

        {% block css_template %}{% endblock %}
    </head>

    <body>
        {% include './_header.html' %}

        <main class="container">
            {% block content %}{% endblock %}
        </main>

        <script src="{% static 'js/components/modal.js' %}"></script>
        <script src="{% static 'js/components/userMenu.js' %}"></script>
    </body>
</html>