.boat-label,
.price-label{
    border-radius: .5rem;
    font-weight: 500;
    padding: 1rem;
    width: fit-content;
}

.boat-label{
    background-color: var(--clr-primary-light);
    color: var(--clr-primary);
    display: flex;
    gap: .5rem;

    &::before{
        aspect-ratio: 1;
        background-image: url('../../../icons/rotas.svg');
        background-size: cover;
        content: '';
        display: block;
        width: 1rem;
    }
}

.price-label{
    background-color: hsl(141, 81%, 95%);
    color: hsl(141, 81%, 30%);
}