form,
form .group{
    display: flex;
    flex-direction: column;
}

form{
    gap: 1rem;
    width: 100%;

    & .group{
        gap: .5rem;
        align-items: flex-start;
    }

    & > .button{
        align-self: flex-end;
    }
}