.modal[open]{
    border: none;
    border-radius: .25rem;
    min-width: 480px;
    padding: 0;
    
    & .content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
    }

    &::backdrop{
        background-color: rgba(0, 0, 0, .2);
    }
}