.radio-control{
    border: 1px solid var(--clr-border);
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: fit-content;

    label{
        cursor: pointer;
        padding-block: .5rem;
        padding-inline: 1rem;
        transition: .5s;

        &:not([for]){
            display: none;
        }

        &:is(:hover, :focus-visible){
            background-color: var(--clr-primary-light);
        }
    }

    input{
        display: none;
    }

    input:checked + label{
        background-color: var(--clr-primary);
        color: #FFF;
    }
}