.radio-control{
    border: 1px solid var(--clr-border);
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: fit-content;

    label{
        cursor: pointer;
        padding-block: .5rem;
        padding-inline: 1rem;
        transition: .5s;

        &:not([for]){
            display: none;
        }

        &:is(input:checked + label){
            background-color: var(--clr-primary);
            color: #FFF;
        }

        &:is(:hover, :focus-visible):not(input:disabled + label){
            background-color: var(--clr-primary-light);
        }

        &:is(input:disabled + label){
            background-color: hsl(0, 0%, 90%);
            cursor: default;
        }

        &:is(input:checked:disabled + label){
            background-color: var(--clr-border);
            color: #333;
        }
    }

    input{
        display: none;
    }
}