.table{
    text-align: left;

    & tr{
        border: 1px solid var(--clr-border);
    }

    & th{
        font-weight: 500;
    }

    & th,
    td{
        padding: 1rem;
        vertical-align: middle;
    }
}